@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #f2f2f2;
  font-size: 18px;
}

h1 {
  font-family: 'Judson', serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.2;
}

@media (max-width: 640px) {
  * {
    font-size: 16px;
  }
  h1 {
    font-size: 48px;
    line-height: 1;
    padding-bottom: 0.5rem;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background: #1e1e1e;
}

.dotted-line-vert {
  width: 1.5px;
  background-image: linear-gradient(to bottom, #525252 33%, rgba(82, 82, 82, 0) 0%);
  background-size: 12px 12px;
}

.fade-enter-active,
.fade-leave-active {
  opacity: 1;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
